@import 'tailwindcss';

:root {
  --color-primary: #e11d48;
  --color-bg: #fafafa;
  --color-text: #1f2937;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
