@import 'tailwindcss';

:root {
  --sp-black: #0b0b0b; /* Primary background */
  --sp-red: #991b1b; /* Samurai red */
  --sp-gold: #f59e0b; /* Premium gold */
  --sp-cheese: #fde68a; /* Cheese highlight */
  --sp-gray: #27272a; /* Neutral UI */
  --sp-white: #fafafa; /* Text on dark */
}
body {
  background-color: var(--sp-gold);
  color: var(--sp-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
